<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481055608603-vogkghc6f9n3e4t5o777alp4cacfiie1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481055608603-vogkghc6f9n3e4t5o777alp4cacfiie1</string>
	<key>API_KEY</key>
	<string>AIzaSyBhr4QYU92F809s11m7q8LO9e7zcZ6YqZE</string>
	<key>GCM_SENDER_ID</key>
	<string>481055608603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goodwill</string>
	<key>PROJECT_ID</key>
	<string>goodwill-83933</string>
	<key>STORAGE_BUCKET</key>
	<string>goodwill-83933.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481055608603:ios:a741c31e1b1272c0358dbe</string>
</dict>
</plist>